<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GronkhTV_DL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GronkhTV_DL.Properties.Settings>
            <setting name="lastUpdate" serializeAs="String">
                <value>2024-01-18</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>490</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>350</value>
            </setting>
        </GronkhTV_DL.Properties.Settings>
    </userSettings>
</configuration>